.btn{
    border: solid 1px #fff;
    background-color: rgb(75, 133, 188);
    column-gap: 3px;
}


.lolo{
    height: 10rem;
    width: 10rem;
    margin-top: 1rem;
    display: flex;
    text-align: center;



}

body{
    text-align: center;
    display: flex;
    justify-content: center;
}
.app{
    margin-top: 5rem;
    width: 80%
}
h1{
    margin-bottom: 2rem;
}

.inputs{
    /* width: 70%; */
    margin: auto;
    display: flex;
    justify-content: center;
}
input{
    width: 9rem;
    margin: 10px;
}
.addbtn{
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(75, 133, 188);
    height: 2rem;
    margin: 10px;
    width: 3rem;
    color: #fff;
    font-size: 1rem;
}
.edit{
    
}


header {
    background-color: brown;
}


.one{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
   
}
.two{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.three{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.four{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.five{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.six{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.seven{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.eight{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.nine{
    background-color: aquamarine;
    border-color: rgb(2,0,36);
}

.ten{
    background-color:aquamarine;
    border-color: rgb(2,0,36);
}



.row {
    box-sizing:  small;
    border-radius: 2px; 
    margin: 20px;
    padding: 20px;
    border-radius: 5;
     /* width: 30px;  */
    /* height: 50px; */
    font-size: medium;
    /* background-color: brown; */
      
 
}

/* .rowtwo {
    box-sizing:  small;
    border-radius: 2px; 
    margin: 20px;
    padding: 20px;
    border-radius: 5;
     /* width: 30px;  */
    /* height: 50px; */
    /* font-size: medium; */
    /* background-color: brown; */

/* }  */

.row {
    width: 80%;
    margin: auto;
     /* grid: gap 50px; */
     

}
.card-footer {
    background-color: rgb(127, 206, 243);
    border-radius: 30px;
    width: 100%;



}
body {
    border-radius: 35px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
/* .container {
    width: 100%;
} */

img {
    width: 10;
    height: 10;
}

/* .card{
    border-radius: 30px;
} */

.calc {
    
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(75, 133, 188);
    height: 2rem;
    margin: 10px;
    width: 3rem;
    color: #fff;
    font-size: 1rem;
    
}
.btns{
    display: flex;
    justify-content: space-between;
}